background {{background}}
foreground {{foreground}}
cursor {{cursor}}
selection_background {{foreground}}
selection_foreground {{background}}
color1  #BB0807
color2  #19BB04
color3  {{color3}}
color4  {{color4}}
color5  {{color5}}
color6  {{color6}}
color7  {{color7}}
color8  {{color8}}
color9  #BB0807
color10 #19BB04
color11 {{color11}}
color12 {{color12}}
color13 {{color13}}
color14 {{color14}}
color15 {{color15}}
